<!-- Navigation Bar -->
<nav class="navbar">
  <div class="navbar__container">
    <a href="#home" id="navbar_logo">Checkmate</a>
    <div class="navbar_toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar_menu">
      <li class="navbar_item">
        <a href="#home" class="navbar_links" id="home-page">Home</a>
      </li>
      <li class="navbar_item">
        <a href="#services" class="navbar_links" id="services-page">Games</a>
      </li>
      <li class="navbar_item">
        <a href="#about" class="navbar_links" id="about-page">About</a>
      </li>
      <li class="navbar_btn">
        <a href="/login" class="button" id="login">Login</a>
      </li>
      <li class="navbar_btn">
        <a href="#sign-up" class="button" id="signup">Signup</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Hero section -->
<div class="hero" id="home">
  <div class="hero_container">
    <h1 class="hero_heading">Hey, We are <span>Team Trailblazers</span></h1>
    <p class="hero_description">Students of CSE department</p>
    {{! <button class="main_btn"><a href="#">Explore</a></button> }}
  </div>
</div>

<!-- Games section -->
<div class="services" id="services">
  <h1>Available games</h1>
  <div class="services_wrapper">
    <div class="services_card">
      <h2>The Chase Game</h2>
      <p>Multiplayer chase game</p>
      <a href="/login">
        <div class="services_btn"><button>Get Started</button></div>
      </a>
    </div>

    <div class="services_card">
      <h2>The Snake Game</h2>
      <p>Snake game with music</p>
      <a href="/login">
        <div class="services_btn"><button>Get Started</button></div>
      </a>
    </div>

    <div class="services_card">
      <h2>Tic Tac Toe</h2>
      <p>AI powered technology</p>
      <a href="/login">
        <div class="services_btn"><button>Get Started</button></div>
      </a>
    </div>

    <div class="services_card">
      <h2>Infinite Choices</h2>
      <p>1000's of games</p>
      <a href="/login">
        <div class="services_btn"><button>Get Started</button></div>
      </a>
    </div>
  </div>
</div>


{{!-- Developed By & About section --}}
<div class="main" id="about">
  <section class="services">
    <h1>Developed By</h1>
    <div class="container">
      <div class="card">
        <div class="content">
          <div class="imgBx"><img src="/image/img_1.jpg" /></div>
          <div class="contentbox">
            <h3>Fahad Hossain <br /><span>Full Stack Developer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li class="--i:1">
            <a href="https://www.facebook.com/fbmh06" target="_blank"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="--i:2">
            <a href="https://twitter.com/_FahadHossain" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="--i:3">
            <a href="https://www.github.com/FH-Fahad" target="_blank"><i class="fab fa-github"></i></a>
          </li>
          <li class="--i:">
            <a href="https://www.linkedin.com/in/FH-Fahad/" target="_blank"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="content">
          <div class="imgBx"><img src="/image/img_3.jpg" /></div>
          <div class="contentbox">
            <h3>Asfakur Rahat<br /><span>Full Stack Developer</span></h3>
          </div>
        </div>
        <ul class="sci">
          <li class="--i:1">
            <a href="https://www.facebook.com/md.asfakur.rahat7" target="_blank"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="--i:2">
            <a href="https://twitter.com/arrahat777" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="--i:3">
            <a href="https://github.com/AR-Rahat" target="_blank"><i class="fab fa-github"></i></a>
          </li>
          <li class="--i:">
            <a href="https://www.linkedin.com/in/arrahat777" target="_blank"><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <div class="main_container">
    <div class="main_img-container">
      <div class="main_img-card"><i class="fa fa-gamepad"></i></div>
    </div>
    <div class="main_content">
      <h1>what do we do</h1>
      <h2>We give you a place to play</h2>
      <p>Schedule a call to learn about our services</p>
      <button class="main_btn"><a href="#">Schedule call</a></button>
    </div>
  </div>
</div>

<!-- Features Section -->
<div class="main" id="sign-up">
  <div class="main_container2">
    <div class="main_content2">
      <h1>Join Our Community</h1>
      <h2>Sign Up Today</h2>
      <p>See what made us different</p>
      <button class="main_btn"><a href="/signup">Sign Up</a></button>
    </div>
    <div class="main_img-container">
      <div class="main_img-card" id="card-2"><i class="fa fa-users"></i></div>
    </div>
  </div>
</div>
<!-- Footer Section -->
<div class="footer__container">
  <div class="footer__links">
    <div class="footer__link--wrapper">
      <div class="footer__link--items">
        <h2>About Us</h2>
        <a href="/sign_up">How it works</a>
        <a href="/">Testimonials</a>
        <a href="/">Careers</a>
        <a href="/">Terms of Service</a>
      </div>
      <div class="footer__link--items">
        <h2>Contact Us</h2>
        <a href="/">Contact</a>
        <a href="/">Support</a>
        <a href="/">Destinations</a>
      </div>
    </div>
    <div class="footer__link--wrapper">
      <div class="footer__link--items">
        <h2>Videos</h2>
        <a href="/">Submit Video</a>
        <a href="/">Ambassadors</a>
        <a href="/">Agency</a>
      </div>
      <div class="footer__link--items">
        <h2>Social Media</h2>
        <a href="https://www.instagram.com/arrahat7/" target="/blank">Instagram</a>
        <a href="https://www.facebook.com/md.asfakur.rahat7/" target="/blank">Facebook</a>
        <a href="https://www.youtube.com/channel/UCn0UHBcjhD7yKU6Nx77s9DQ" target="/blank">Youtube</a>
        <a href="https://twitter.com/asfakur_md" target="/blank">Twitter</a>
      </div>
    </div>
  </div>
  <div class="social__media">
    <div class="social__media--wrap">
      <div class="footer__logo">
        <a href="/" id="footer__logo">CHECKMATE</a>
      </div>
      <p class="website__rights">© CHECKMATE 2023. All rights reserved</p>
      <div class="social__icons">
        <a href="/" class="social__icon--link"><i class="fa fa-facebook-official"></i></a>
        <a href="/" class="social__icon--link"><i class="fa fa-instagram"></i></a>
        <a href="/" class="social__icon--link"><i class="fa fa-youtube-play"></i></a>
        <a href="/" class="social__icon--link"><i class="fa fa-twitch"></i></a>
        <a href="/" class="social__icon--link"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>