<div class="center_policy">
    <h1>Terms of Service Privacy Policy</h1>
    <p>Thank you for visiting <a href="http://localhost:5001" target="_blank">www.checkmate.com</a> and our websites.
    </p>
    <ol>
        <li>Respect others, respect the law, and enjoy yourself !</li>
        <li>Users can play the online games offered essentially free of charge.</li>
        <li>Standards of behavior if your game allows for users to interact with other users.</li>
        <li>All user data protected using end-to-end encryption. Not even developers can view user's info.</li>
        <li>Our cookie only contain user's essential data, which helps them to get the best user experience in our site.</li>
        <li>By using our service you agree to all above agreement. If you do not agree, then you should not use our Service.</li>
    </ol>
</div>